@model IEnumerable<MIS4200Team11.Models.Profile>

@{
    ViewBag.Title = "Profile Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Office
        </th>
        <th>
            Position
        </th>
        <th>
            Hire Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.office)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hireDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.profileId }) |
            @Html.ActionLink("Details", "Details", new { id=item.profileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.profileId })
        </td>
    </tr>
}

</table>
